# PORT
PORT=<port_number>

# CONNECTION STRING
MONGO_URI=<mongodb_connection_string>

# DB USERID AND PASSWORD
# db_userid=<database_userid>
# pwd=<database_password>

# JWT SECRET
JWT_SECRET=<jwt_secret_key>

# S3 Configuration
S3_BUCKET_NAME=elasticbeanstalk-ap-south-1-233978854985
AWS_REGION=<aws_region>
AWS_ACCESS_KEY_ID=<aws_access_key_id>
AWS_SECRET_ACCESS_KEY=<aws_secret_access_key>

